*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.whole-app{
    background-color: rgb(48, 177, 106);
    width: 100%;
    min-height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

 
}
.err{
    color:red;
    font-size:0.8rem;
}
.app-section{
    min-width: 90%;
    min-height: 90%;
   background-color: rgb(31, 30, 30);
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}


.balance{
    display: flex;
    justify-content: center;
    align-items: center;
 
    flex-direction: column;
    padding: 30px 50px;
    h1{
        color: rgb(66, 137, 204);
    }
}

.total-balance{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0;
    color: #fff;
    align-items: center;
}

.total-ie{
    display: flex;
    gap: 2rem;

}
.total-i{
color: rgb(48, 177, 106);
h2{
    padding: 5px 0;
}
}


    
    .total-e{
        color:   rgb(224, 78, 78);
        h2{
            padding: 5px 0;
        }
        }
  


.ie-wrapper{
   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    

    
}
.income{
  
   
    padding: 2rem 2rem;
}
.expense{
 
  
    padding: 2rem 2rem;
   
}
.income form{
    padding: 20px 0;
    display: flex;
    flex-direction:column;
    gap:1rem;
    input{
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        color: #fff;
        &::placeholder{
            color:#fff;
        }
    }
}

.income-history{
    h1{
        color:blanchedalmond;
        font-size: 1.2rem;
    }
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0;
}

.incometransaction{
    background: rgb(48, 177, 106);
    display: flex;
    justify-content: space-between;
    gap:2rem;
    .it-collection{
        display: flex;
        gap: 1rem;
        button{
            background-color: red;
            border: none;
            outline: none;
            text-transform: uppercase;
            font-size: 0.7rem;
            padding: 5px 5px;
           
        }
    }
}




.expense form{
   
    padding: 20px 0;
    display: flex;
    flex-direction:column;
    gap:1rem;
    input{
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        color: #fff;
        &::placeholder{
            color:#fff;
        }
    }
}

.expense-history{
    h1{
        color:blanchedalmond;
        font-size: 1.2rem;
    }
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0;
}

.expensetransaction{
    background: rgb(224, 78, 78);
    display: flex;
    justify-content: space-between;
    gap:2rem;
    .et-collection{
        display: flex;
        gap: 1rem;
        button{
            background-color: red;
            border: none;
            outline: none;
            text-transform: uppercase;
            font-size: 0.7rem;
            padding: 5px 5px;
           
        }
    }
}

@media screen and (max-width:768px) {

    


.app-section{
    width: 90%;
    height: 100%;
   
}

.balance-wrapper{
    width: 100%;
    text-align: center;
}
.balance{
    width: 100%;
}
.ie-wrapper{
    width: 100%;
}
.income{
    width: 100%;
  
}

.expense{
    width: 100%;
   
}

.incometransaction{
    display: flex;
   flex-direction: column;
   align-items: center;

    .it-collection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem; 
}

}

.expensetransaction{
    display: flex;
   flex-direction: column;
   align-items: center;

    .et-collection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem; 
}

}
}